* {
  margin: 0;
  padding: 0;
  font-family: 'Metro Sans', sans-serif;
  box-sizing: border-box;
}
.line{
  border: width 0.1em; 
  border-color:#fff;
  color: #ffffff;
}
.top {
  width: 100%;
  height: 48px;
  background-color: rgb(255,212,0);
  display: flex;
}
.top1 {
  padding: 12px 200px 5px 140px;
  font-size: 23px;
}
.top2 {
  padding: 15px 100px 5px 455px;
  font-size: 16.5px;
}
.section-head {
  margin: 0px 120px;
  padding: 0px 16px;
}
.head-name {
  font-weight: bold;
  font-size: 25px;
}
.headline {
  display: flex;
  width: 1300px;
  height: 66px;
  align-items: center;
  text-align: center;
  justify-items: center;
  position: sticky;
  top: 0px
}
.head-list {
  list-style: none;
  display: flex;
  margin: 0px 40px;
}
.head {
  position: relative;
  top: 10px;
  margin: 0px 15px 0px 15px;
}
.head-sign {
  position: relative;
  margin: 0px 0px 0px 25px;
  z-index: 30;
  padding: 10px 10px;
  background-color: rgb(255, 212, 0);
  border-radius: 10px;
}
.head-search-outline {
  border: 1px solid black;
  border-radius: 20px;
  width: 620px;
  height: 40px;
  margin: 0px 15px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 45px;
}
.head-search-outline:hover {
  background-color: rgb(227, 227, 227);
}
input[type="text"]:hover {
  background-color: rgb(227, 227, 227);
}
input[type="text"] {
  flex: 1;
  border: 0;
  height: 100%;
  font-size: 14px;
  padding: 0;
  outline: none;
}
.search-icon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: black;
}
.dropdown {
  display: none;
  position: absolute;
  top: 40px; 
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
  border-radius: 16px;
  z-index: 10;
  box-sizing: border-box;
  padding: 10px;
}
.head-search-outline:focus-within .dropdown {
  display: block; 
}
.dropdown-title {
  font-size: 13px;
  font-weight: 650;
  margin:0px 0px 10px 10px;
  text-align: left;
}
.head-enterprize {
  display: flex;
  position: relative;
  top: 10px;
}
.head-company {
  padding: 3.6px 6px;
  font-size: 10px;
  background-color: white;
  color: #4B94FA;
  border-radius: 11px;
  font-weight: 500;
  height: 10px;
}
.navline {
  display: flex;
  height: 48px;
  width: 100%;
}
.navlist {
  list-style: none;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 0px 0px;
  padding: 0px 16px;
}
.nav {
  margin: 0px 10px 0px 10px;
}
.nav-name {
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 14px -20px 0px 120px;
  padding: 0px 16px;
}
.nav-under{
  width: 100%;
  height: 4px;
}
.navlist .nav-under{
  position: relative;
  top: 12px;
}
.nav-name .nav-under{
  position: relative;
  top: 7.5px;
}

.nav-name:hover #nnu{
  background-color: rgb(255, 212, 0);
}
#n1:hover #u1{
  background-color: rgb(255, 212, 0);
}
#n2:hover #u2{
  background-color: rgb(255, 212, 0);
}
#n3:hover #u3{
  background-color: rgb(255, 212, 0);
}
#n4:hover #u4{
  background-color: rgb(255, 212, 0);
}
#n5:hover #u5{
  background-color: rgb(255, 212, 0);
}
#n6:hover #u6{
  background-color: rgb(255, 212, 0);
}
#n7:hover #u7{
  background-color: rgb(255, 212, 0);
}
#n8:hover #u8{
  background-color: rgb(255, 212, 0);
}
#n9:hover #u9{
  background-color: rgb(255, 212, 0);
}

span {
  display: block;
  width: 1px;
  height: 20px;
  background-color:rgb(208, 208, 208);
  margin: 13px 10px 0 10px;
}
.nav-name:hover #category-container{
  display: block;
}
#category-container {
  display: none;
  flex-direction: column;
  background-color: white;
  width: 180px;
  margin: -45px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 20;
}

.category-list {
  list-style: none;
  font-size: 14px;
  margin: 10px 20px 10px 20px;
}

.category-list1 {
  list-style: none;
  font-size: 14px;
  margin: 15px 20px 10px 20px;
}

.category-head {
  font-weight: bold;
  text-align: left;
  font-size: 14px;
}

.category-unit {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0px 10px 0px;
}
.main-category-head{
  font-size: 20px;
  font-weight: 500;
}
.main-section-container{
  display: flex;
  flex-direction: column;
  margin: 80px 0px 80px 0px;
}
.main-category-top-container{
  display: flex;
  list-style-type: none;
  gap: 20px;
  margin: 0px 0px 0px 30px;
}
.main-readyto-category{
  margin: 0px 120px 0px 120px;
}
.main-category-top{
  background-color:rgb(230,230,230);
  padding: 20px 24px;
  border-radius: 16px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.main-category-bottom-container{
  display: flex;
  flex-direction: row;
}
.main-category-bottom-first{
  background-color: rgb(230,230,230);
  padding: 20px 24px;
  border-radius: 16px;
  margin-right: 20px;
  
}
.main-category-bottom-second{
  background-color: rgb(230,230,230);
  padding: 20px 24px;
  border-radius: 16px;
  margin-right: 20px;
}
.main-category-bottom-third{
  background-color: rgb(230,230,230);
  padding: 20px 24px;
  border-radius: 16px;
}
.main-category-bottom-first-container{
  display: flex;
  list-style: none;
  gap: 20px;
  margin:0px 0px 0px 25px;
}
.main-category-bottom-second-container{
  display: flex;
  list-style: none;
  gap: 20px;
  margin:0px 0px 0px 25px;
}
.main-category-unit{
  list-style: none;
  height: 96px;
  width: 108px;
  font-size: 10px;
  align-items: center;
  justify-items: center;
}
.main-category-word{
  font-size: 14px;
  font-weight: 500;
  margin: 0px 10px 0px 0px;
}

.main-category-img{
  height: 60px;
  width: 60px;
}
.main-category-img0{
  height: 60px;
  width: 60px;
  margin: 20px 0px 0px 30px;
}
.main-category-word0{
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  margin: 0px 10px 0px 20px;
}
.main-bestservice-top{
  font-size: 25px;
  font-weight: bold;
}
.main-bestservice-top-img{
  height: 20px;
  width: 38px;
}
.main-bestservice-mid {
  margin-right: 10px;
}
.main-bestservice-mid-botton {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  margin-top: 8px;
}
.main-bestservice-mid-botton-back{
  border: 1px solid rgb(185, 185, 185);
  height: 36px;
  padding: 0px 12px;
  line-height: 21px;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 100px;
  margin-top: 10px;
}
.main-bestservice-bottom-head{
  font-size: 15px;
  margin-top: 5px;
  width: 212px;
}
.main-bestservice-bottom-container {
  display: flex;
  margin: -50px 100px 0px 100px;
  gap: 16px; 
}
.main-bestservice-bottom-first,
.main-bestservice-bottom-second,
.main-bestservice-bottom-third,
.main-bestservice-bottom-fourth,
.main-bestservice-bottom-fifth {
flex: 1; 
} 
.main-bestservice-section{
  margin: 80px 0px 80px 0px;
}
.main-bestservice{
  margin: 0px 120px 0px 120px;
}
.main-bestservice-bottom-review{
  height: 18px;
  font-size: 12px;
  margin-top: 5px;
}
.main-bestservice-bottom-price{
  font-size: 14px;
}
.main-bestservice-bottom-who{
  font-size: 12px;
  color: rgb(114, 117, 133);
  font-weight: 400;
  margin-top: 10px;
}
.main-bestservice-bottom{
  display: flex;
}
.main-bestservice-top-botton{
  display: flex;
}
.main-bestservice-bottom-img{
  height: 158.16px;
  width: 212px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  transition: opacity 0.3s, transform 0.3s;
  opacity: 1;
}
.main-bestservice-bottom-img-outline{
  height: 158.16px;
  width: 212px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
  border: 0.5px solid rgb(221, 221, 221);
}
.main-bestservice-bottom-img:hover {
  transform: scale(1.1);
}
.main-ineedpro-section{
  margin: 80px 0px 80px 0px;
  background-color: rgb(242,243,247);
  padding: 80px;
}
.main-ineedpro{
  margin: 0px auto;
  padding: 0px 16px;

}
.main-ineedpro-top {
  display: flex;
  justify-content: space-between; 
  width: 1168px;
  height: 390px;
}
.cmong-youtube-img {
  width: 692px; 
  height: 390px;
  border-radius: 8px;
  align-self: flex-end;
}
.cmong-youtube{
  width: 692px; 
  height: 390px;
  border-radius: 8px;
  align-self: flex-end;
}
.main-ineedpro-top-left {
  width: 40%; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}
.main-ineedpro-top-left-head{
  font-size: 32px;
  font-weight: 700;
}
.main-ineedpro-top-left-sub{
  font-size: 16px;
  font-weight: 400;
}
.main-ineedpro-bottom-container{
  display: flex;
  gap: 20px;
  margin-top: 40px;
  padding: 0px 16px;
  width: 1168px;
  height: 149.5px;
  align-items: center;
}
.main-ineedpro-bottom-first{
  padding: 32px 40px;
  width: 376px;
  height: 149.5px;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(48, 52, 65,0.05) 0px 0px 20px 5px;
  box-sizing: border-box;
}
.main-ineedpro-bottom-second{
  padding: 32px 40px;
  width: 376px;
  height: 149.5px;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(48, 52, 65,0.05) 0px 0px 20px 5px;
  box-sizing: border-box;
}
.main-ineedpro-bottom-third{
  padding: 32px 40px;
  width: 376px;
  height: 149.5px;
  gap: 12px;
  background-color: white;
  border-radius: 8px;
  box-shadow: rgb(48, 52, 65,0.05) 0px 0px 20px 5px;
  box-sizing: border-box;
}
.main-ineedpro-bottom-bottom{
  margin-top: 15px;
}
.main-livereview-section {
  padding: 80px 0px;
  background-color: rgb(255, 212, 0);
}
.main-livereview {
  margin: 0px auto;
  padding: 0px 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
}
.main-livereview-top {
  font-size: 32px;
  font-weight: 700;
}
.main-livereview-top-1 {
  font-size: 16px;
  color: rgb(85, 89, 105);
  margin: 8px 0px 0px;
  font-weight: 400;
}
.main-livereview-bottom-container {
  display: flex;
  margin-top: 40px;
  gap: 20px;
  box-sizing: border-box;
  text-align: center;
  justify-content: center; 
}
.main-livereview-bottom-youtube {
  width: 376px;
  height: 210px;
}
.main-livereview-bottom-youtube1 {
  width: 376px;
  height: 210px;
}

.main-livereview-bottom-youtube-bottom {
  display: flex;
  margin-top: 20px;
}

.main-livereview-bottom-youtube-bottom-left {
  font-weight: bold;
  font-size: 15px;
  margin-left: 4px;
}

.main-livereview-bottom-youtube-bottom-right {
  margin-left: 8px;
  font-size: 15px;
  color: rgb(85, 89, 105);
}
.main-workchange-section{
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 243, 247);
  padding: 80px 0px;
  
}
.main-workchange{
  text-align: center;
  padding: 0px 16px;
  margin: 0px auto;
}
.main-workchange-top{
  font-size: 32px;
  color: rgb(33,34,36);
  font-weight: bold;
  line-height: normal;
}
.main-workchange-top1{
  font-size: 16px;
  margin: 8px 0px 0px ;
  color: rgb(85,89,105);
}
.main-workchage-bottom-container{
  display: flex ;
  gap: 20px;
  margin: 40px 0px 0px;
}
.main-workchange-bottom-img-outline{
  width: 376px;
  height: 247px;  
  border-radius: 8px;
  border: 1px solid rgba(0,0,0,0.05);
  overflow: hidden;
}
.main-workchange-img{
  width: 376px;
  height: 247px;  
}
.main-workchange-img:hover{
  transform: scale(1.03);
  transition: transform 300ms;
}
.main-workspace-bottom-introduce{
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}
.main-workspace-bottom-introduce-head{
  font-size: 16px;
  font-weight: 500;
  color: rgb(48,52,65);
}
.main-workspace-bottom-introduce-bottom{
  color: rgb(154,155,167);
  font-size: 15px;
}
.main-workchange-article{
  background-color: rgb(255, 255, 255);
  border-radius: 8px;
  font-weight: 500;
  border: 2px solid rgb(200,202,210);
  display: inline-flex;
  padding: 0px 24px;
  font-size: 16px;
  height: 52px;
  width: 376px;
  justify-content: center;
  text-align: center;
  line-height: 16px;
  margin-top: 40px;
}
.main-workchange-article-word{
  margin: 19px 0px 0px 0px;
  display: inline-block;
  font-weight: 500;
  line-height: 16px;
  font-size: 16px;
  color: rgb(33,34,36);
}
.main-workchange-article:hover{
  background-color: rgb(242, 243, 247);
  transition: background-color 300ms;
}
.main-proranking-section{
  width: 1200px;
  margin: 0px auto;
  padding: 0px 16px;
}
.proranking{
  list-style-type: none;
}
.main-proranking-head{
  font-size: 20px;
  font-weight: 500;
}
.main-proranking-head1{
  margin: 4px 0px 0px;
  font-size: 16px;
  color: rgb(114,117,133);
  font-weight: normal;
}
.main-proranking-container{
  display: flex;
  gap: 24px;
  margin-top: 24px;
}
.proranking-unit-head-top{
  width: 374px;
  padding: 12px 0px;
  font-size: 16px;
  text-align: center;
  background-color: rgb(255,212,0);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.proranking-unit-head-top-word{
  font-size: 16px;
  font-weight: 700;
}
.proranking-unit-head{
  display: flex;
  padding: 20px 24px 20px 12px;
  align-items: center;
  width: 374px;
  height: 99.5px;
  -webkit-box-align: center;
  border: 1px solid rgb(255,212,0);
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  margin-bottom: 16px;
  box-shadow:rgba(48,52,65,0.08) 0px 5px 23px -2px;
}
.proranking-unit{
  display: flex;
  padding: 20px 24px 20px 12px;
  align-items: center;
  width: 372px;
  height: 99.5px;
  -webkit-box-align: center;
  margin-bottom: -5px;
}
.ranking-line{
  height: 40px;
  width: 40px;
  aspect-ratio: auto 40/40;
}
.ranking-img{
  height: 40px;
  width: 40px;
  aspect-ratio: auto 40/40;
}
.unit-img-outline{
  width: 48px;
  height: 48px;

}
.unit-img{
  display: block;
  border-radius: 50%;
  opacity: 1;
  transition: opacity 0.3s;
  width: 48px;
  height: 48px;
}
.proranking-unit-container{
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1 1 0%;
  margin-left: 20px;
  
}
.get-price-top{
  font-size: 19px;
  font-weight: 700;
}
.get-price{
  font-size: 17px;
  font-weight: 500;
}
.company-name{
  color: rgb(154,155,167);
  font-size: 14px;
  margin-top: 5px;
}
.unit-container{
  box-shadow:rgba(48,52,65,0.08) 0px 5px 23px -2px;
  border-radius: 8px;
  margin-bottom: 100px;
}
.cut-line{
  height: 1px;
  width: calc(100% - 48px);
  margin: 0px auto;
  background-color: rgb(242,243,247);
}
.footer-container{
  display: flex;
  margin: 0px 120px 0px 120px;
  padding: 32px 0px 94px 0px;
}
.footer-left-container{
  display: flex;
  flex-direction: column;
  column-gap: 20px;
}
.footer-right-container{
  display: flex;
  margin: 0px 0px 0px 60px 
}
.footer-right-list{
  list-style-type: none;
}
.footer-right-one{
  margin:0px 45px 0px 45px;
}
.footer-right-two{
  margin:0px 45px 0px 45px;
}
.footer-right-three{
  margin:0px 45px 0px 45px;
}
.footer-right-four{
  margin:0px 0px 0px 45px;
}
.footer-right-head{
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
}
.footer-standard{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
  color: rgb(134, 134, 134);
}
.footer-standard-1{
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(134, 134, 134);
}
.footer-left-top-container{
  display: flex;
  gap: 10px;
  margin-bottom: 20px; 
}
.footer-left-top-box{
  width: 146px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 202, 210);
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s; 
}
.footer-left-top-box:hover {
  background-color: rgb(227, 227, 227); 
}
.footer-left-mid{
  margin-bottom: 20px; 
}
.footer-left-mid-time{
  font-size: 13px;
}
.footer-left-bottom-container{
  margin-bottom: 20px; 
  color: rgb(85, 89, 105);
  font-weight: 400;
}
.footer-left-bottom-back{
  display: flex;
  background-color: rgb(247,251,255);
  width: 300px;
  padding:12px;
  align-items: center; 
}
.footer-left-bottom-left{
  width: 36px;
  height: 36px;
  background-color: rgb(202, 226, 255); /* 파란색 배경 */
  border-radius: 50%; 
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; 
}
.footer-left-bottom-left i {
  color: white; /* 아이콘 색상 */
  font-size: 18px; /* 아이콘 크기 */
}
.footer-left-bottom-right{
  color:rgb(17, 106, 212);
  font-size: 13px;
  font-weight: 400;

}
.footer-bottom-container{
  display: flex;
  flex-direction: column;
  text-align: center;
}
.footer-bottom-1{
  color: #727585;
  font-size: 13px;
  font-weight: 400;
  margin: 16px auto 0px auto;
}
.footer-bottom-2 {
  font-size: 0.75rem;
  color: #9a9ba7;
}
.footer-bottom-3 {
  font-size: 0.75rem;
  color: #9a9ba7;
}

