* {
  margin: 0;
  padding: 0;
  font-family: 'Metro Sans', sans-serif;
}
.top {
  width: 100%;
  height: 48px;
  background-color: rgb(255,212,0);
  display: flex;
}
.top1 {
  padding: 12px 200px 5px 140px;
  font-size: 23px;
}
.top2 {
  padding: 15px 100px 5px 455px;
  font-size: 16.5px;
}
.section-head {
  margin: 0px 120px;
  padding: 0px 16px;
}
.head-name {
  font-weight: bold;
  font-size: 25px;
}
.headline {
  display: flex;
  width: 1300px;
  height: 66px;
  align-items: center;
  text-align: center;
  justify-items: center;
}
.head-list {
  list-style: none;
  display: flex;
  margin: 0px 40px;
}
.head {
  position: relative;
  top: 10px;
  margin: 0px 15px 0px 15px;
}
.head-sign {
  position: relative;
  margin: 0px 0px 0px 25px;
  z-index: 30;
  padding: 10px 10px;
  background-color: rgb(255, 212, 0);
  border-radius: 10px;
}
.head-search-outline {
  border: 1px solid black;
  border-radius: 20px;
  width: 620px;
  height: 40px;
  margin: 0px 15px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 15px;
  padding-right: 45px;
}
.head-search-outline:hover {
  background-color: rgb(227, 227, 227);
}
input[type="text"]:hover {
  background-color: rgb(227, 227, 227);
}
input[type="text"] {
  flex: 1;
  border: 0;
  height: 100%;
  font-size: 14px;
  padding: 0;
  outline: none;
}
.search-icon {
  position: absolute;
  right: 10px;
  font-size: 16px;
  color: black;
}
.dropdown {
  display: none;
  position: absolute;
  top: 40px; 
  left: 0;
  width: 100%;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
  border-radius: 16px;
  z-index: 10;
  box-sizing: border-box;
  padding: 10px;
}
.head-search-outline:focus-within .dropdown {
  display: block; 
}
.dropdown-title {
  font-size: 13px;
  font-weight: 650;
  margin:0px 0px 10px 10px;
  text-align: left;
}
.head-enterprize {
  display: flex;
  position: relative;
  top: 10px;
}
.head-company {
  padding: 3.6px 6px;
  font-size: 10px;
  background-color: white;
  color: #4B94FA;
  border-radius: 11px;
  font-weight: 500;
  height: 10px;
}
.navline {
  display: flex;
  height: 48px;
  width: 100%;
}
.navlist {
  list-style: none;
  display: flex;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 0px 0px;
  padding: 0px 16px;
}
.nav {
  margin: 0px 10px 0px 10px;
}
.nav-name {
  text-align: center;
  justify-items: center;
  align-items: center;
  margin: 14px -20px 0px 120px;
  padding: 0px 16px;
}
.nav-under{
  width: 100%;
  height: 4px;
}
.navlist .nav-under{
  position: relative;
  top: 12px;
}
.nav-name .nav-under{
  position: relative;
  top: 7.5px;
}

.nav-name:hover #nnu{
  background-color: rgb(255, 212, 0);
}
#n1:hover #u1{
  background-color: rgb(255, 212, 0);
}
#n2:hover #u2{
  background-color: rgb(255, 212, 0);
}
#n3:hover #u3{
  background-color: rgb(255, 212, 0);
}
#n4:hover #u4{
  background-color: rgb(255, 212, 0);
}
#n5:hover #u5{
  background-color: rgb(255, 212, 0);
}
#n6:hover #u6{
  background-color: rgb(255, 212, 0);
}
#n7:hover #u7{
  background-color: rgb(255, 212, 0);
}
#n8:hover #u8{
  background-color: rgb(255, 212, 0);
}
#n9:hover #u9{
  background-color: rgb(255, 212, 0);
}

span {
  display: block;
  width: 1px;
  height: 20px;
  background-color:rgb(208, 208, 208);
  margin: 13px 10px 0 10px;
}
.nav-name:hover #category-container{
  display: block;
}
#category-container {
  display: none;
  flex-direction: column;
  background-color: white;
  width: 180px;
  margin: -45px 0px 0px 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 10px 0px;
  position: absolute;
  top: 50px;
  left: 0;
  z-index: 20;
}

.category-list {
  list-style: none;
  font-size: 14px;
  margin: 10px 20px 10px 20px;
}

.category-list1 {
  list-style: none;
  font-size: 14px;
  margin: 15px 20px 10px 20px;
}

.category-head {
  font-weight: bold;
  text-align: left;
  font-size: 14px;
}

.category-unit {
  text-align: left;
  font-size: 14px;
  font-weight: 300;
  margin: 10px 0px 10px 0px;
}

.main-section-container{
  display: flex;
  flex-direction: column;
  margin: 80px 0px 80px 0px;
}

.main-category-top-container{
  display: flex;
  list-style-type: none;
}
.main-readyto-category{
  margin: 0px 120px 0px 120px;
}
.main-category-top{
  background-color: rgb(250,250,252);
}
.main-category-bottom-container{
  display: flex;
  flex-direction: row;
}
.main-category-bottom-first{
  background-color: rgb(250,250,252);
}
.main-category-bottom-second{
  background-color: rgb(250,250,252);
}
.main-category-bottom-first-container{
  display: flex;
  list-style: none;
}
.main-category-bottom-second-container{
  display: flex;
  list-style: none;
}
.main-category-unit{
  list-style: none;
}
.main-bestservice-section{
  margin: 80px 0px 80px 0px;
  
}
.main-bestservice{
  margin: 0px 120px 0px 120px;
}
.main-bestservice-bottom{
  display: flex;
}
.main-bestservice-top-botton{
  display: flex;
}
.main-ineedpro-section{
  margin: 80px 0px 80px 0px;
}
.main-ineedpro{
  margin: 0px 120px 0px 120px;
  padding: 0px 16px;
}
.main-livereview-section{
  margin: 80px 0px 80px 0px;
}
.main-livereview{
  margin: 0px 120px 0px 120px;
  padding: 0px 16px;
}